C:\Users\loner\OneDrive\Escritorio\programacion\Idea-Lo-Nero-html-css\package.json
C:\Users\loner\OneDrive\Escritorio\programacion\Idea-Lo-Nero-html-css\package-lock.json
C:\Users\loner\OneDrive\Escritorio\Idea-Lo-Nero-html-css-FINAL\node_modules