/*````````FOOTER`````````*/

.df-footer{
    color:hwb(52 88% 0%);
    background-color: #606C38;
    width: 100%;
    padding: 10px;
    
    margin:auto;

     img, svg {
         vertical-align: middle;
         height: 70px;
}

/*FIN FOOTER*/

