header {
     .menu{

     }
         .navbar{
             color: rgb(58, 57, 19);
             display: flex;
             flex-direction:column;
             text-align:center;
             padding-bottom:25px;

             }
    
    
                 .a{
                 padding: 5px 12px;
                 text-decoration: none;
                 color: rgb(194, 103, 13);
                 box-sizing: border-box;
                 font-weight: bold;
}


   .logo{
       display:flex;    
       justify-items: center;
       align-content: center;
       height: 9px;
       width: 40px;
       align-items: center;
       display:grid;
       grid-template-columns: repeat (2, 1fr);
       justify-content: center;
   }
   
}