@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

$fontCairo: 'Cairo', sans-serif;

$maincolor: rgb(96, 108, 56);
$secondarycolor:  rgb(76, 175, 80);
$fontcolor: rgb(236, 204, 161);
