
$fontCairo: 'Cairo', sans-serif;
$maincolor: rgb(96, 108, 56);
$secondarycolor:  rgb(76, 175, 80);
$fontcolor: rgb(236, 204, 161);

body{
   
 .h1  {  
    font-size:16px;
}

 .h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight:lighter;
   }

 .form-text{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: $fontcolor;
 }
}

