h1{
    font-size: $h1;
  }
 
  .h2{
     font-family:Verdana, Geneva, Tahoma, sans-serif;
     font-size: $h2;
     font-weight:lighter;
    }
 
  .form-text{
     font-family:Verdana, Geneva, Tahoma, sans-serif;
     font-size: 15px;
     color: $fontcolor;
  }
 
 
 
 button{
    font-size: 1,5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid rgb(00, 000, 00);
    box-shadow: 2px 2px 10px;
 
 }
 