/*````````FOOTER`````````*/

div .contenedor-footer{
    display:flex;
    width:90%;
    justify-content: space-evenly;
    margin:auto;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(230, 230, 117);
    max-height: 200px;
    height: 70px;  
    grid-gap: 2.5rem;
    display: grid;
    gap: 2.5rem;
    grid-template-columns: 1fr 1fr;
}
}
.content-foo{
    text-align: center;

    h4{
        color:aquamarine;
        border-bottom: 3px solid rgb(230, 230, 117);
        padding-bottom: 5px;
        margin-bottom: 10px;

    }

    p{
        color: rgb(230, 230, 117);
        border-bottom: 3px solid rgb(230, 230, 117);
        padding-bottom: 5px;
        margin-bottom: 10px;

    }

}
     img, svg {
         vertical-align: middle;
         height: 70px;
}


/*FIN FOOTER*/
