/*````````FOOTER`````````*/

.df-footer{
    color:hwb(52 88% 0%);
    background-color: #606C38;
    width: 100%;
    padding: 10px;
    margin:auto;

     img, svg {
         vertical-align: middle;
         height: 70px;
}
footer{
    width:50%;  
    max-width:560px;
    display: grid;
    grid-template-columns:auto;

}

/*FIN FOOTER*/

