
$fontCairo: 'Cairo', sans-serif;
$maincolor: rgb(96, 108, 56);
$secondarycolor:  rgb(76, 175, 80);
$fontcolor: rgb(236, 204, 161);

@mixin sections {
     background-color: $secondarycolor;
     border-radius: 10px;

    &__h2{
          text-align: center;
          font-size: 4rem;
          padding: 20px;
         }
    &__p{
        color: $fontcolor;

    }
 
}
@mixin headers {
   
    background-image: url(./img/vista-senital.jpg);
 
    a{
        color:#e7f0e7; 
    }
    
    header a:hover {
        color: rgb(236, 236, 22);
    }
}
header{
    @include headers
}
    
   
         .nav{
             
             text-align:center;
             align-items: center;
            
             }

img {
    
    background-image: url(./img/vista-senital.jpg);
    background-size: cover;
    background-position: center;

}

    
  main{
    @include sections
  }          
               