main{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 5px;
    height: 40px;
}
main{
    @include sections;
}
.cajapedir{
    display: flex;
    padding: 20px;
    text-align: center;
}