main{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 4fr;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 5px;
    height: 40px;
}
main{
    @include sections;
}

     &__.cajapedir{
    display: flex;
    padding: 20px;
    text-align: center;
     }




