/*-----VARIABLES PARA FONTS------*/
$ache1: 3.5em;
$ache2: 2.7em;
$ache3: 2em;
$pe: 1.25em;
$uh: none;
$list: 1.25em;
$fontsizes: ("small": 12px, "normal": 18px, "large": 24px)
map-get($fontsizes, "small");

/*------VARIABLES PARA COLORES------*/

$maincolor: rgb(90,153,77);
$secondarycolor: rgb(76,175,80);
$fontcolor: rgb(236, 204, 161);
$footercolor: #606C38;
