/*-----VARIABLES PARA FONTS------*/
$h1: 3.5em;
$h2: 2.7em;
$h3: 2em;
$p: 1.25em;
$u: none;
$list: 1.25em;
$font-sizes: ("small": 12px, "normal": 18px, "large": 24px)
map-get($font-sizes, "small");

/*------VARIABLES PARA COLORES------*/

$maincolor: rgb(90,153,77);
$secondarycolor: rgb(76,175,80);
$fontcolor: rgb(236, 204, 161);
