*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
    
}
h1  {
    font-family: monospace;
    display: ruby-text;
    font-size: 9rem;
}

p{
    display:flex;
    align-items: inline;
    font-stretch: ultra-expanded;
    text-emphasis: disc;
    font-size:4rem;
    color:rgb(236, 204, 161);
}

h3 {
    font-size: 2rem;

}
ul nav  {
    list-style: none;
    font-style: none;
    color:rgb(236, 204, 161);
}
body{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

 
@mixin {

    .container-404{

    text-align: center;
    width: 100px;
    max-width: 400px;
    }
     
}

.imagen404 {
    
    size: 600px 315px;
    margin: 10px;
    padding: 20px; 

}
