/*-----VARIABLES PARA FONTS------*/
/*------VARIABLES PARA COLORES------*/
header {
  width: 100%;
  background-image: url("wallhaven-n6yovw.png");
  display: grid;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
header__a {
  text-decoration: none;
}

.wavej {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.contenedor {
  padding: 20px 0px;
  margin: auto;
}

h1 {
  font-size: 3.5em;
}

.h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.7em;
  font-weight: lighter;
}

.form-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: rgb(236, 204, 161);
}

button {
  font-size: 1, 5em;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 15px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px;
}

.df-main {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  max-width: 1400px;
}

df-main {
  box-sizing: 5px;
}
df-main__h2 {
  font-size: 2rem;
  font-weight: bold;
}
df-main__p {
  font-size: 1.5rem;
}

.nombre-empresa {
  padding: 10px;
  border: 5px solid rgb(22, 22, 22);
  margin: 0;
}

.carousel-inner {
  width: 80%;
  margin-bottom: 10px;
}
.carousel-inner img {
  width: 100%;
}

.historia {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: initial;
}
.historia h2 {
  display: flex;
  flex-direction: center;
  text-align: center;
  align-content: center;
  font-size: 3rem;
  font-weight: bold;
}
.historia p {
  font-size: 1.5rem;
  font-weight: lighter;
}

/*----INICIO sass para send button -----*/
button {
  font-size: 1, 25rem;
  background: rgb(172, 223, 97);
  color: rgb(248, 248, 149);
  padding: 0, 7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
}

span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

i {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.wrapper:hover {
  animation: fly 0.6s ease-in-out infinite alternate;
}

i:hover {
  transform: translateX(1.2em);
  rotate: 45deg scale(1.1);
}

button:hover span {
  transform: translateX(5em);
}

button:active {
  transform: scale(0.95);
}

@keyframes fly {
  from {
    transform: translateY(0.1em);
  }
  to {
    transform: translateY(-0.1em);
  }
}
/*fin button*/
/*````````FOOTER`````````*/
.contenedor-footer {
  background-color: rgb(230, 230, 117);
}

.content-foo {
  text-align: center;
  flex-direction: row;
  display: flex;
  padding: 40px;
  display: inline;
}
.content-foo h4 {
  color: aquamarine;
  border-bottom: 3px solid rgb(230, 230, 117);
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.content-foo p {
  color: rgb(230, 230, 117);
  border-bottom: 3px solid rgb(230, 230, 117);
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.imgdi, svg {
  vertical-align: middle;
  width: 5px;
}

.rrss {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr;
  justify-content: center right;
}
.rrss__fab {
  padding: 5px;
}
.rrss__seg {
  padding: 5px;
}
.rrss__rrssj {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.box__copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
  /*FIN FOOTER*/
}
.box__copyright__p {
  margin-top: 20px;
  color: #7a7a7a;
}
.box__copyright__hr {
  border: none;
  height: 1px;
  background-color: #7a7a7a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(230, 236, 230);
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}/*# sourceMappingURL=styles.css.map */